/* body{
    background-color: pink;
} */
 body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
 .container{
    flex:1;
 }

footer .f-info-links a{
text-decoration: none;
color:#222222;
}

footer .f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
    vertical-align: middle;
}
.f-info-socials{
    width: 100%;
    font-size: 1.5rem;
    /* margin-right: 4rem; */
}
.f-info-socials i{
    margin-right: 1rem;
}

.f-info{
    text-align: center;
   display: flex;
   height: 7rem;
   background-color: #ebebeb;
   flex-wrap: wrap;
   justify-content: center;
   align-items: space-evenly;

}

/* cards */
.card{
    border:none;
    margin-bottom: 2rem;

}
.card-img-top{
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.card-body{
    padding:0;
}
.card-text p{
    font-weight: 400;
    color: #222222;
}
.listing-link{
    text-decoration: none;
    color: #222222;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: #ebebeb;

}

/* new page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}